click==8.0.4
Flask==2.0.3
Flask-FlatPages==0.8.1
Flask-Minify==0.37
Frozen-Flask==0.18
htmlmin==0.1.12
importlib-metadata==4.11.1
itsdangerous==2.1.0
Jinja2==3.0.3
jsmin==3.0.1
lesscpy==0.15.0
Markdown==3.3.6
MarkupSafe==2.1.0
ply==3.11
python-dotenv==0.19.2
PyYAML==6.0
rcssmin==1.1.0
six==1.16.0
Werkzeug==2.0.3
xxhash==2.0.2
zipp==3.7.0
