{% extends "layouts/base.html" %} {% block content %}
<section class="container bg-white full-h">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eius
    corporis recusandae nesciunt vero nam itaque corrupti explicabo blanditiis
    aut nihil, similique hic quam incidunt sint tempora sit quod enim?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eius
    corporis recusandae nesciunt vero nam itaque corrupti explicabo blanditiis
    aut nihil, similique hic quam incidunt sint tempora sit quod enim?
  </p>
</section>
{% endblock %}
